/* Carrito de compras!! */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
  }

body {
    background-color: #fff; 
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(63, 0, 11);
}

.titulo1{
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.carrito-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
​
.datos {
    width: 60%;
    background-color:rgb(252, 169, 1);
    border: 2px solid rgb(63, 0, 11);
} 

.total, .datos-container {
    border: 2px solid rgb(63, 0, 11);
    margin: 4%;
    padding: 2%;
    border-radius: 8px;
    width: 60%;
}
 
h2 {
    margin: 4%;
    color: rgb(63, 0, 11);
}

input {
    background: #fff;
    border-radius: 5px;
    margin: 2%;;
    padding: 2%;
    display: flex;
    justify-content: flex-end;
}

input:hover {
    border: 2px solid rgb(91, 156, 158);
    background-color:rgb(252, 169, 1);
}
​
input .btn-send-carrito1 {
    width: 50%;
    height: 30px;
    color: red;
}

/* .forma-de-pago{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 1/3;
} */